{% extends 'base.html' %}

{% block head %}
<title>acceuil</title>
{% endblock %}

{% block body %}

<div class="display-table">
    <div class="display-table-cell">
        
        <h1 class="title"><b>Application de gestion des apprenants</b></h1>
<!--        <p class="desc font-white">A simple login system using face recognition in python</p>-->
    
        <a class="notify-btn" href="/admin/"><b>Connection Formateur</b></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="notify-btn" href="/home/register/"><b>Connection Apprenant</b></a>
        
    </div><!-- display-table -->
</div><!-- display-table-cell -->

{% endblock %}